* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #aaaaaa; 
}

#app {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

/* main part of window - canvas with raytracing */
#canvas-container {
    display: flex;
    flex: 1;
    width: 80%;
    height: 100vh;
    /* background-color: #000000; */
}

#raytracing {
    width: 100%;
    height: 100%;
    display: block;
}

/* right toolbar and it elements */
#right-toolbar {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    color: #ffffff;
    background-color: #1a1a1a;
}

#buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    padding: 15px;
    background-color: #000000;
}

.button {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    
    cursor: pointer;
    line-height: 0;
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    margin: 0  30px;
}

.button img {
    width: 40px;
    height: 40px;
   
    display: block;
    transition: transform 120ms ease, filter 120ms ease, opacity 120ms ease;
}

.button:hover img {
    transform: scale(1.2);
}

.button:active img {
    transform: scale(0.90);
    filter: brightness(0.95);
}

#shapes-list {
    width: 100%;
    flex: 0 0 auto;
    border: solid #ffffff;
    border-radius: 10px;
    border-width: 5px 5px 0 5px;
    padding: 15px;
    padding-bottom: 50px;
}

#shapes {
    padding-left: 15px;
    width: 200px;
    min-height: 100px;
}

#shape-options {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    border-radius: 10px;
    border: 5px solid #ffffff;
    padding: 15px;
}

#light-options {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.light-row-option {
    display: flex;
    flex-direction: column;
    margin-block: 20px;
    align-items: center;
}

.light-row-option label {
    font-size: 20px;
    margin-bottom: 10px;
}



/* popup window  */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.hidden {
    display: none;
}

#light-options.hidden {
    display: none;
}

.modal-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 200px;
    text-align: center;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8);
}

.modal-buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.modal-buttons button {
    background-color: #eeeeee;
    padding: 10px 12px;
    cursor: pointer;
    margin-bottom: 15px;
    border: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #555555;
}

.modal-buttons button:hover {
    background-color: #555555;
    color: #ffffff

}